{% extends "front/common_index.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls.css' %}" />
{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'no_polls_available.</p>
    {% endif %}
{% endblock %}
